* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.container{
    max-width: 900px;
    margin: auto;
}

.debug .header {
    background-color: #DAA520;
}

.debug header{
    background-color: #ADD8E5;
    padding: 20px;
}

.debug .row{
    border: 2px dashed black;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

header .row{
    justify-content: space-between;
    align-items: center;
}



.debug [class^=col] {
    border: 2px dashed black;

}

.row-cols-4 > .col {
    flex-basis: calc(100% / 4);
}

.row-cols-4 > .col-50 {
	flex-basis: 50%;
}

.debug .bg-blue{
    background-color: #01008B;
    min-height: 400px;
    padding: 50px;
}

.debug .small{
    min-height: 350px;
    max-width: 700px;
    background-color: #EE81ED;
}

.debug .bg-white{
    background-color: white;
    min-height: 400px;
    padding: 50px;
}

.debug .celeste{
    background-color: #1D90FF;
    min-height: 350px;

}

.debug .rosa{
    background-color: #FEC0CA;
    min-height: 350px;

}

.row-cols-3 > .col {
    flex-basis: calc(100% / 3);
}

.row-cols-3 > .celeste {
	flex-basis: calc(100% / 3 * 2)
}
